.nav-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.bar {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  z-index: 2;
  background-color: white;
  height: 60px;
}

.logo {
  font-family: Futura;
  font-weight: bolder;
  font-size: 20px;
}

.right {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: row;
}

.item {
  height: 60px;
  padding: 20px 20px 0 20px;
}

.item:hover {
}

.nav-bar .button {
  cursor: pointer;
}

.nav-bar .button:hover {
  color: #BBBBBB;
}