.nav-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.nav-bar .logo {
  font-family: Futura;
  font-weight: bolder;
  font-size: 20px;
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.nav-bar .right {
  display: flex;
  flex-direction: row;
}

.nav-bar .left {
  display: flex;
  flex-direction: row;
}

.nav-bar .item {
  height: 72px;
  padding: 25px 10px 0 10px;
}

.nav-bar .item:hover {
}

.nav-bar form {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding: 55px;
}

.nav-bar .button {
  cursor: pointer;
}

.nav-bar .button:hover {
  color: #BBBBBB;
}