.nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  top: 0;
  z-index: 100;
}

.nav-bar.top {
  animation:backgroundFadeOut .5s;
  color: white;
}

.nav-bar.not-top {
  animation:backgroundFadeIn .5s;
  color: black;
  background: rgba(255,255,255, .8);
}

@keyframes backgroundFadeOut {
  from {
    background: rgba(255,255,255, .8)
  }
  to {
    background: rgba(255,255,255, 0)
  }
}

@keyframes backgroundFadeIn {
  from {
    background: rgba(255,255,255, 0)
  }
  to {
    background: rgba(255,255,255, .8)
  }
}

.bar {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  z-index: 2;
  background-color: white;
  height: 60px;
}

.logo {
  font-family: Futura;
  font-weight: bolder;
  font-size: 20px;
}

.right {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: row;
}

.item {
  height: 60px;
  padding: 20px 20px 0 20px;
}

.item:hover {
  color: #BBBBBB;
}

.nav-bar .button {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
  flex-direction: column-reverse;
  height: 30px;
  width: 100px;
}

.dropdown div {
  background-color: white;
  opacity: .9;
}
