// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, header, nav, h1, h2, h3, h4, h5, h6, a,
ul, li, strong, main, button, i,
section, img, div, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  position: relative;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
select,
option,
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.hidden {
  display: none
}

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation:fadein .5s;
  z-index: 1000;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.form-container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  width: 100%;
  font-weight: 300;
}

.form-container h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: bolder;
  padding-bottom: 30px;
}

.form-container label {
  font-weight: 600;
}

input {
  background-color: #F7F7F7;
  padding-left: 11px;
  font-size: 16px;
}

.input {
  position: relative;
}


.input-container {
  display: flex;
  flex-direction: column;
}

form {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  padding: 55px;
}

.errors {
  position: relative;
  height: 16px;
  margin: 3px;
  color: #B00100;
}

.input.invalid-input {
  border: 2px solid #B00100;
}

.background {
  background-color: #EFEFEF;
  position: relative;
  width: 100%;
  display: block;
  padding: 5vh 0 8vh 0;
}

.button {
  text-align: center;
}

.form-container .disabled-button {
  background-color: #CCCCCC;
  color: #EFEFEF;
}

.form-container .disabled-button:hover{
  cursor: default;
}

.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.footer {
  position: sticky;
  text-align: center;
  white-space: pre-line;
  padding: 20px;
  height: 50px;
  border-top: 4px solid grey;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  bottom: 0;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}